name: docker-compose-actions-workflow
on: push
jobs:
  test:
    runs-on: windows-latest
    steps:
#       - uses: actions/checkout@v2
      - name: Build the stack
        run: mkdir -p downloads # && docker-compose up --build && docker-compose down
        
        # --select-file=194-210 
      - run: aria2c.exe --seed-time=0 "magnet:?xt=urn:btih:77XW5W5SEQITBBG42GYZFZCRR5VETZBG&dn=Linkin%20Park%20Live%20From%20Madison%20Square%20Garden%202011%20HDTV%201080i.ts&xl=8398007940&tr=https%3A%2F%2Flp-bits.com%2Fannounce.php%3Fpasskey%3D38676b7c19c7b6733a0316a9caf90861" -d "downloads"      
      
      - uses: actions/upload-artifact@v2
        with:
          name: downloads
          path: downloads
